In [9]:
from pymongo import MongoClient

# Connect to MongoDB (Make sure MongoDB is running on localhost:27017)
client = MongoClient("mongodb://localhost:27017/")
db = client["MCA_WT"]  # Create or switch to 'company' database

# Sample Collections: Employees and Departments
employees = db["employees"]
departments = db["departments"]

# Clear previous data if any
employees.delete_many({})
departments.delete_many({})

# Insert sample employee documents
employee_data = [
    {"name": "Alice", "salary": 75000, "department_id": 1},
    {"name": "Bob", "salary": 55000, "department_id": 2},
    {"name": "Charlie", "salary": 92000, "department_id": 1},
    {"name": "Diana", "salary": 48000, "department_id": 3},
    {"name": "Evan", "salary": 51000, "department_id": 2}
]

# Insert sample department documents
department_data = [
    {"department_id": 1, "name": "Engineering", "employee_count": 2},
    {"department_id": 2, "name": "Sales", "employee_count": 2},
    {"department_id": 3, "name": "Marketing", "employee_count": 10}
]

# Insert data into the collections
employees.insert_many(employee_data)
departments.insert_many(department_data)

InsertManyResult([ObjectId('671de54b3f06fdc91913c3bc'), ObjectId('671de54b3f06fdc91913c3bd'), ObjectId('671de54b3f06fdc91913c3be')], acknowledged=True)

In [10]:
# Query (a): Display name of employee who has the highest salary.
highest_salary_employee = employees.find_one(sort=[("salary", -1)])
h = employees.find().sort('salary',-1).limit(1)
# print("Employee with the highest salary:", highest_salary_employee["name"])
for i in h:
    print(i)

{'_id': ObjectId('671de54b3f06fdc91913c3b9'), 'name': 'Charlie', 'salary': 92000, 'department_id': 1}

In [11]:
# Query (b): Display the biggest department with the maximum number of employees.
# biggest_department = departments.find_one(sort=[("employee_count", -1)])

# print("Biggest department with max employees:", biggest_department["name"])
b= departments.find().sort('employee_count',-1).limit(1)
for i in b:
    print(i)

{'_id': ObjectId('671de54b3f06fdc91913c3be'), 'department_id': 3, 'name': 'Marketing', 'employee_count': 10}

In [13]:
# Query (c): Write a cursor to show department-wise employee information.
# Iterate through each department and fetch employees in that department

all_departments = departments.find()
for d in all_departments:
    print(' Department Name : ',d['name'])
    emps = employees.find({'department_id':d['department_id']})
    for e in emps:
        print('\t Name : ',e['name'])

 Department Name :  Engineering
	 Name :  Alice
	 Name :  Charlie
 Department Name :  Sales
	 Name :  Bob
	 Name :  Evan
 Department Name :  Marketing
	 Name :  Diana

In [20]:
# Query (d): List all employees who work in the Sales department and have a salary greater than 50000.
# First, find the department_id for the Sales department
d = departments.find_one({"name":"Sales"})
did = d['department_id']

emps = employees.find({"department_id":did, "salary":{'$gt':50000}})
for e in emps:
    print(e)

{'_id': ObjectId('671de54b3f06fdc91913c3b8'), 'name': 'Bob', 'salary': 55000, 'department_id': 2}
{'_id': ObjectId('671de54b3f06fdc91913c3bb'), 'name': 'Evan', 'salary': 51000, 'department_id': 2}